@mixin bounce($first,$second,$time) {
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY($first);}
        60% {transform: translateY($second);}
    }
    animation: bounce $time ease infinite;
}

@mixin scroll($position,$time) {
  @keyframes scroll-anim {
    100% {
        background-position: $position 0;
    }
  }
  animation: scroll-anim $time linear infinite;
}

@mixin scroll2($position,$time) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX($position);
    }
    100% {
        transform: translateX(0);
    }
  }
  animation: scroll $time linear infinite;
}

@keyframes walk {
      0% {
        left: 0;
      }
      48% {
        -webkit-transform: rotateY(0deg); 
      }
      50% { 
        left: calc(100% - 80px);
        -webkit-transform: rotateY(180deg); 
      }
      98% {
        -webkit-transform: rotateY(180deg); 
      }
      100% {
        left: 0;    
         -webkit-transform: rotateY(0deg);
      }
  }

@keyframes teacher-highlight {
    100% {
        background-position: -10000% 0;
    }
}

@mixin timeBar($time) {
  
  @keyframes timeBar {
    from { width: 100%; }
    to { width: 0%;}
  }
  animation: timeBar $time linear;
}

@mixin roadRunnerIn() {
  
  @keyframes roadRunnerIn {
    0% {
      transform:translateX(1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform:translateX(-60px) skewX(0deg) scaleX(.9);
    }
    100% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
  }
  animation: roadRunnerIn .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@mixin roadRunnerOut() {
  
  @keyframes roadRunnerOut {
    0% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform:translateX(-60px) skewX(-5deg) scaleX(.9);
    }
    100% {
      transform:translateX(1500px) skewX(30deg) scaleX(1.3);
    }
  }
  animation: roadRunnerOut .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@mixin moveUp() {
  
  @keyframes moveUp {
    0% {
      transform:translateY(800px);
    }
    100% {
      transform:translateY(0);
    }
  }
  animation: moveUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@mixin moveDown($time) {
  
  @keyframes moveDown {
    0% {
      transform:translateY(0px);
    }
    100% {
      transform:translateY(800px);
    }
  }
  animation: moveDown $time cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}






