@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.header{
    height: 64px;
    width: 100%;
    background-color: nth($palette,1);
    padding: 0 24px;
    @include flexbox(row, initial);
    .connect{
        color: nth($palette, 4);
        background-color: nth($palette, 5);
        border: none;
        padding: 8px 24px;
        cursor: pointer;
        border-radius: 10px;
        transition: .2s;

        span{
            margin-left: 10px;
            font-weight: 700;
        }

        &:hover{
            color: nth($palette, 5);
            background-color: nth($palette, 4);
        }


    }
}