@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/display.scss';

.header{
    height: 80px;
    width: 100%;
    background-color: nth($palette,1);
    padding: 0 24px;
    padding-left: 45px;
    @include flexbox(row, space-between);
    z-index: 99;
    
    .menu{
        font-size: nth($fontSizes, 4 );
        color: nth($palette, 5 );
        cursor: pointer;
        display: none;
    }

    .logo{
        width: 150px;
    }

    @include device("mobile"){
        height: 60px;
        padding: 15px;
        .logo{
            width: 100px;
        }
        .menu{
            display: block;
        }
    }

}

    