@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/display.scss';

.layout{
    width: 100%;
    @include flexbox(row,center,center,wrap);
    .header{
        width: 100%; 
    }
    main{
        width: calc(100% - 250px);
        height: calc(100vh - 80px);
        background-color: nth($palette,4);
        padding: 20px;
        overflow-y: scroll;
        @include scrollbar(5px , nth($palette, 3), nth($palette,1));
        @include device("mobile"){
            width: 100%;
            height: calc(100vh - 60px);
        }
    }
}