@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/display.scss';

.container {
    @include flexbox(row, space-around, center, wrap);
    margin-bottom: 20px;
    label{
        font-size: nth($fontSizes, 2 );
        color: nth($palette,5);
        width: min(200px, 100%);
    }
    input {
        width: min(200px, 100%);
        padding: 5px;
        border: none;
        border-radius: 10px;
        outline: solid 2px nth($palette, 5);
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }
    .button{
        width: min(200px, 100%);
        button{
            width: min(200px, 100%);
            
        }
    }
    @include device("mobile"){
        @include flexbox(column, space-around, center);
        gap: 10px;
    }
}