@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.button{
    pointer-events: auto;
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-block;
    background: nth($palette,3);
	font-weight: 700;
	padding: 0;
	border-radius: 10px;
    color: nth($palette,3);
    transform: translate3d(4px, 4px, 0);
    &::before,
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .innerBtn{
        display: block;
        background: nth($palette,5);
        @include flexbox(row, center, center);
        padding: 8px 24px;
        border-radius: 10px;
        transform: translate3d(-4px, -4px, 0);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
        svg{
            font-size: nth($fontSizes,3);
        }
        span{
            margin-left: 10px;
            text-transform: uppercase;
        }
        &:hover {
            transform: translate3d(-6px, -6px, 0);
        }
    }

}