@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/animations.scss';

.card,.out {
    width: min(100%, 300px);
    position: absolute;
    right: 25px;
    top: 95px;
    padding: 20px;
    background-color: nth($palette, 5);
    @include flexbox(row-reverse, initial, center);
    border-radius: 20px;
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transform:translateX(1500px);
    @include roadRunnerIn();

    .info{    
        width: 100%;
        .title {
            width: 100%;
            padding: 2.5px;
            font-size: nth($fontSizes,2);
            font-weight: 700;
            border-bottom: solid 2px nth($palette,1);
            text-transform: uppercase;
        }
        
        .message {
            text-transform: capitalize;
            margin-top: 5px;
        }

        .bar{
            content: '';
            border-top: 4px solid nth($palette ,4);
            height: 4px;
            width: 0%;
            top: 20px;
            @include timeBar(5s);
        }

    }
    .buy {
        position: absolute;
        right: 20px;
        top: 20px;
        color: nth($palette,3);
        font-size: nth($fontSizes,3);
        &:hover{
            color: nth($palette,6);
        }
    }


    .fresher{
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;  
        width: 80px;
        height: 65px;
        @include flexbox(row,center, center);
        span{
            img{
                transform: scale(1.1)
            }
        }
    }


}

.out {
    @include roadRunnerOut();
}
  

