@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.container {
    @include flexbox(column, initial);
    color: nth($palette,5);
    height: 100%;
    gap: 10px;

    span {
        font-size: nth($fontSizes,4);
        margin: 0 10px;
    }

    button {
        background: transparent;
        border: none;
        color: nth($palette,5);
        height: 16px;
        cursor: pointer;
    }
}