@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.header{
    height: 80px;
    width: 100%;
    background-color: nth($palette,1);
    padding: 0 24px;
    padding-left: 45px;
    @include flexbox(row, space-between);

    .logo{
        cursor: pointer;
    }

}