@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.card {

    @include flexbox(row-reverse, space-between ,center);
    width: 100%;
    height: 150px;
    padding: 15px;
    background-color: nth($palette, 2);
    border-radius: 20px;
    position: relative;

    .school {
        position: absolute;
        top: -50px;
        left: 20px;
    }

    .students {
        color: nth($palette,5);
        border: solid 2px nth($palette,5);
        border-radius: 20px;
        width: 150px;
        height: 120px;
        padding: 10px;
        text-align: center;
        @include flexbox(column,initial);
        span {
            font-size: nth($fontSizes,5);
            margin-top: -15px;
        }
    }

}

