@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/display.scss';

.testCard {

    @include flexbox(row, space-around ,center);
    width: 100%;
    min-height: 150px;
    padding: 15px;
    background-color: nth($palette, 2);
    border-radius: 20px;
    position: relative;

    .academy {
        position: absolute;
        top: -50px;
        left: 20px;
    }

    @include device("mobile"){
        @include flexbox(column, center);
        height: auto;
        padding-top: 130px;
        .academy{
            position: absolute; 
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            width: 200px;
        }
    }

}