@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.module {

    @include flexbox(column);
    height: 120px;

    span{

        font-size: nth($fontSizes, 2 );
        color: nth($palette , 4 );
        @include font(title);

    }

    .balance {
        font-size: nth($fontSizes, 5 );
        color: nth($palette, 5 );
    }


}