@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';
@import '../utils/animations.scss';

.container{

    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 100%;
    @include flexbox(row, center, center);
    background-color: rgba(0, 0, 0, .4);
    

    .card,.out {
        width: min(100%, 300px);
        padding: 20px;
        background-color: nth($palette, 5);
        @include flexbox(column, center, center);
        border-radius: 20px;
        filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
        cursor: pointer;
        @include moveUp();
        .title {
            width: 100%;
            padding: 2.5px;
            font-size: nth($fontSizes,2);
            font-weight: 700;
            border-bottom: solid 2px nth($palette,1);
            text-transform: uppercase;
        }
        
        .message {
            text-transform: capitalize;
            margin-top: 5px;
        }

        .bar{
            content: '';
            border-top: 4px solid nth($palette ,4);
            height: 4px;
            width: 0%;
            top: 20px;
            @include timeBar(5s);
        }
    
        .close {
            position: absolute;
            right: 20px;
            top: 20px;
            color: nth($palette,3);
            font-size: nth($fontSizes,3);
            &:hover{
                color: nth($palette,6);
            }
        }
    
    
        .store{
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;  
            width: 200px;
            height: 200px;
            @include flexbox(row,center, center);
        }
    
        input {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            outline: solid 2px nth($palette, 5);
            margin-bottom: 15px;
        }
    
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    
        input[type=number] {
            -moz-appearance:textfield;
        }

        .button {
            width: 100%;
            button{
                width: 100%;
                background-color: nth($palette , 3 );
                span{
                    background-color: nth($palette , 1 );
                    color: nth($palette , 5 );
                }
            }
            
        }
    
    }
    
    .out {
        @include moveDown();
    }
      
}


  