@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.sidebar{
    background-color: nth($palette,2);
    width: 250px;
    height: calc(100vh - 80px);
    @include font(title);
    nav{
        ul{
            list-style: none;
            li{
                cursor: pointer;
                padding: 15px;
                transition: .125s;
                @include flexbox(row,initial,center);
                color: nth($palette,5);
                .icon{
                    font-size: nth($fontSizes,3);
                    margin-right: 15px;
                }
                span{
                    font-size: nth($fontSizes,1);
                    font-weight: 700;
                    text-transform: uppercase;
                    width: 100%;
                }
                &:hover{
                    color: nth($palette,5);
                    background-color: nth($palette,3);
                }
            }
            .active{
                color: nth($palette,5);
                background-color: nth($palette,1);
                border-right: solid 5px nth($palette,5);
            }
        }
    }
}