@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.swapCard {

    width: min(100%, 300px);
    position: relative;
    padding: 20px;
    height: 350px;
    background-color: nth($palette, 5);
    @include flexbox(column, space-between, initial);
    border-radius: 20px;
    filter: drop-shadow(4px 4px 0px nth($palette,3));

    input {
        padding: 10px;
        border: none;
        border-radius: 15px;
        outline: solid 2px nth($palette, 5);
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }

    .button {
        width: 100%;
        button{
            width: 100%;
            background-color: nth($palette , 3 );
            span{
                background-color: nth($palette , 1 );
                color: nth($palette , 5 );
            }
        }
        
    }


    .title {
        width: 100%;
        padding: 2.5px;
        padding-left: 0;
        font-size: nth($fontSizes,2);
        font-weight: 700;
        border-bottom: solid 2px nth($palette,1);
    }



}