@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.testSheet{
    background-color: whitesmoke;
    width: 200px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    position: relative;
    // transform: translateY(100px);

    h3 {
        @include font(title);
        font-size: nth($fontSizes, 2 );
    }

    svg {
        cursor: pointer;
        position: absolute;
        left: 70%;
        top: 65%;
        transform: translate(-50%,-50%);
        font-size: nth($fontSizes, 5);
        color: nth($palette,1);
        &:hover {
            color: nth($palette,4);
        }
    }

}