@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.wrapper{
    height: 100%;
    @include flexbox(column, initial, center);

    .container{
        width: min(100%, 930px);
        @include flexbox(row, center, center, wrap);
        gap: 15px;
        padding-bottom: 15px;
    }
}