@import '../utils/variables.scss';
@import '../utils/fonts.scss';
@import '../utils/mixins.scss';

.wrapper{
    height: 100%;
    @include flexbox(column, initial, center);

    .levels{
        width: min(100%, 930px);
        @include flexbox(row, center, center, wrap);
        padding: 10px;
        background-color: nth($palette,2);
        border-radius: 15px;
    }
}